<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>MapSAR Add-in</Name><AddInID>{b25522d6-8867-468c-84ce-c058e7c1720b}</AddInID><Description>Adds functionality to MapSAR</Description><Version>1.3</Version><Image>Images\MapSARlogoSmall.png</Image><Author>Jon Pedder</Author><Company>MapSAR</Company><Date>08/02/2013</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="MakeMaps_addin.py" namespace="MakeMaps_addin"><ArcMap>
    <Commands>
        <Button caption="Make Map" category="MapSAR Add-in" class="Make_Map_button" id="MakeMaps_addin.button_Make_Map_button" image="Images\Map16.png" message="" tip="Generate Maps, briefing, status etc."><Help heading="" /></Button>
        <Button caption="Make Assignment Maps" category="MapSAR Add-in" class="Make_Assignment_Maps_button" id="MakeMaps_addin.button_Make_Assignment_Maps_button" image="Images\Map16.png" message="" tip="Makes data driven page assignment maps"><Help heading="" /></Button>
        <Button caption="Make Multiscale Map" category="MapSAR Add-in" class="Make_Multiscale_Map_Button" id="MakeMaps_addin.button_Make_Multiscale_Map_button" image="Images\Map16.png" message="" tip=""><Help heading="" /></Button>
        <Button caption="Make Task Forms" category="MapSAR Add-in" class="Make_Task_Forms_buton" id="MakeMaps_addin.button_Make_Task_Forms_buton" image="Images\GenericSpatialFile16.png" message="" tip="Generate ICS style task assignment forms"><Help heading="" /></Button>
        <Button caption="Populate Current Base Data" category="MapSAR Add-in" class="Populate_Base_Data_button" id="MakeMaps_addin.button_Populate_Base_Data_button" image="Images\GenericPencilArea16.png" message="" tip="Shares current base data with selected map or maps "><Help heading="" /></Button>
        <Button caption="Update Value Lists" category="MapSAR Add-in" class="Update_Value_Lists_button" id="MakeMaps_addin.button_Update_Value_Lists_button" image="Images\GenericWrench_B16.png" message="" tip="Manually execute process to update Domain values"><Help heading="" /></Button>
        <Button caption="Exporter" category="MapSAR Add-in" class="Exporter_button" id="MakeMaps_addin.button_Exporter_button" image="Images\ExcelXLSFile.png" message="" tip="Export table values to excel files"><Help heading="" /></Button>
        <Button caption="Importer" category="MapSAR Add-in" class="Importer_button" id="MakeMaps_addin.button_Importer_button" image="Images\TableExcel16.png" message="" tip="Import values from csv files to update or overwrite table values"><Help heading="" /></Button>
        <Button caption="Assignment Auto Text" category="MapSAR Add-in" class="Assignment_Auto_Text_button" id="MakeMaps_addin.button_Assignment_Auto_Text_button" image="Images\TextDynamic16.png" message="" tip="Toggles on/off the auto population of assignment descriptions"><Help heading="" /></Button>
        <Button caption="Period auto calc" category="MapSAR Add-in" class="Period_auto_calc_Button" id="MakeMaps_addin.button_Period_auto_calc_Button" image="Images\GenericTime16.png" message="" tip="Toggles on/off the auto calc of Operating Period Dates"><Help heading="" /></Button>
        <Button caption="Incident Information" category="MapSAR Add-in" class="Incident_Information_Button" id="MakeMaps_addin.button_Incident_Information_Button" image="Images\AppConfiguration16.png" message="" tip="Edit Incident Information"><Help heading="" /></Button>
        <Button caption="Enter UTM" category="MapSAR Add-in" class="Enter_UTM_Button" id="MakeMaps_addin.button_Enter_UTM_Button" image="Images\Point.png" message="" tip="Add a point feature "><Help heading="" /></Button>
        <Button caption="Set Spatial Reference" category="MapSAR Add-in" class="Set_Spatial_Reference_button" id="Maintenance_addin.button_Set_Spatial_Reference_button" image="Images\CoordinateSystem16.png" message="" tip="Sets datum and coordinate system on a selection of mxd files"><Help heading="" /></Button>
        <Button caption="Create MapSAR with new Spatial Reference" category="MapSAR Add-in" class="Create_MapSAR_New_button" id="Maintenance_addin.button_Create_MapSAR_New_button" image="Images\MapServiceDefinitionMSDFile16.png" message="" tip="Creates a new database and set of templates with new Datum and coordinate system"><Help heading="" /></Button>
        <Button caption="Clear Database Data" category="MapSAR Add-in" class="Clear_Database_Data" id="MakeMaps_addin.button_Clear_Database_Data" image="Images\GenericError16.png" message="" tip="Permenantly deletes data from specified tables."><Help heading="" /></Button>
        <Button caption="Multi Ring Buffer" category="MapSAR Add-in" class="Multi_Ring_Buffer_button" id="MakeMaps_addin.button_Multi_Ring_Buffer_button" image="Images\ElementCircle16.png" message="Creates a Euclidean buffer around a point" tip=""><Help heading="" /></Button>
        <Button caption="Project Raster File" category="MapSAR Add-in" class="Project_Raster_File_Button" id="MakeMaps_addin.MakeMaps_addin_Project_Raster_File_Button" image="Images\GeoprocessingResult16.png" message="" tip="Reprojects a DEM file"><Help heading="" /></Button>
        <Button caption="Process Cell Phone Pings" category="MapSAR Add-in" class="Process_Cell_Phone_Pings_Button" id="MakeMaps_addin.Process_Cell_Phone_Pings_Button" image="Images\GreenPin16.png" message="" tip="Create a Viewshed of cell phone pings around the PLS"><Help heading="" /></Button>
        <Button caption="Combine Raster Files" category="MapSAR Add-in" class="Combine_Raster_Files_Button" id="MakeMaps_addin.Combine_Raster_Files_Button" image="Images\CoverageFeatureClassRegionNoTopology16.png" message="" tip="Combine multiple DEM files"><Help heading="" /></Button>
        <Button caption="Make Map" category="MapSAR Add-in" class="Make_Map_menu" id="MakeMaps_addin.menu_Make_Map" image="Images\Map16.png" message="" tip="Generate Maps, briefing, status etc."><Help heading="" /></Button>
        <Button caption="Make Assignment Maps" category="MapSAR Add-in" class="Make_Assignment_Maps_menu" id="MakeMaps_addin.menu_Make_Assignment_Maps" image="Images\Map16.png" message="" tip="Generate assignment maps and task forms"><Help heading="" /></Button>
        <Button caption="Make Task Forms" category="MapSAR Add-in" class="Make_Task_Forms_menu" id="MakeMaps_addin.menu_Make_Task_Forms" image="Images\GenericSpatialFile16.png" message="" tip="Generate ICS style task assignment forms"><Help heading="" /></Button>
        <Button caption="Populate Current Base Data" category="MapSAR Add-in" class="Populate_Base_Data_menu" id="MakeMaps_addin.menu_Populate_Base_Data" image="Images\GenericPencilArea16.png" message="" tip="Shares current base data with selected map or maps "><Help heading="" /></Button>
        <Button caption="Update Value Lists" category="MapSAR Add-in" class="Update_Value_Lists_menu" id="MakeMaps_addin.menu_Update_Value_Lists" image="Images\GenericWrench_B16.png" message="" tip="Manually execute process to update Domain values"><Help heading="" /></Button>
        <Button caption="Exporter" category="MapSAR Add-in" class="Exporter_menu" id="MakeMaps_addin.menu_Exporter" image="Images\ExcelXLSFile.png" message="" tip="Export table values to excel files"><Help heading="" /></Button>
        <Button caption="Importer" category="MapSAR Add-in" class="Importer_menu" id="MakeMaps_addin.menu_Importer" image="Images\TableExcel16.png" message="" tip="Import values from csv files to update or overwrite table values"><Help heading="" /></Button>
        <Button caption="Assignment Auto Text" category="MapSAR Add-in" class="Assignment_Auto_Text_menu" id="MakeMaps_addin.menu_Assignment_Auto_Text" image="Images\TextDynamic16.png" message="" tip="Toggles on/off the auto population of assignment descriptions"><Help heading="" /></Button>
        <Button caption="Period auto calc" category="MapSAR Add-in" class="Period_auto_calc_menu" id="MakeMaps_addin.button_Period_auto_calc_menu" image="Images\GenericTime16.png" message="" tip="Toggles on/off the auto calc of Operating Period Dates"><Help heading="" /></Button>
        </Commands>
    <Extensions>
        <Extension autoLoad="true" category="MapSAR Add-in" class="UpdateValueLists" description="Updates the domains on stop editing" id="MakeMaps_addin.Extension_UVL" name="UpdateValueLists" productName="UpdateValueLists" showInExtensionDialog="true" />
        </Extensions>
    <Toolbars>
        <Toolbar caption="MapSAR Make Maps" category="MapSAR Add-in" id="MakeMaps_addin.toolbar" showInitially="true"><Items><Button refID="MakeMaps_addin.button_Make_Map_button" /><Button refID="MakeMaps_addin.button_Make_Assignment_Maps_button" /><Button refID="MakeMaps_addin.button_Make_Multiscale_Map_button" /><Button refID="MakeMaps_addin.button_Make_Task_Forms_buton" /><Button refID="MakeMaps_addin.button_Populate_Base_Data_button" /><Button refID="MakeMaps_addin.button_Update_Value_Lists_button" /><Button refID="MakeMaps_addin.button_Exporter_button" /><Button refID="MakeMaps_addin.button_Importer_button" /><Button refID="MakeMaps_addin.button_Assignment_Auto_Text_button" /><Button refID="MakeMaps_addin.button_Period_auto_calc_Button" /><Button refID="MakeMaps_addin.button_Incident_Information_Button" /><Button refID="MakeMaps_addin.button_Enter_UTM_Button" /></Items></Toolbar>
        <Toolbar caption="MapSAR Maintenance" category="MapSAR Add-in" id="MakeMaps_addin.toolbar_1" showInitially="false"><Items><Button refID="Maintenance_addin.button_Set_Spatial_Reference_button" /><Button refID="Maintenance_addin.button_Create_MapSAR_New_button" /><Button refID="MakeMaps_addin.button_Clear_Database_Data" /></Items></Toolbar>
        <Toolbar caption="MapSAR Analysis" category="MapSAR Add-in" id="MakeMaps_addin.toolbar_2" showInitially="true"><Items><Button refID="MakeMaps_addin.button_Multi_Ring_Buffer_button" /><Button refID="MakeMaps_addin.MakeMaps_addin_Project_Raster_File_Button" /><Button refID="MakeMaps_addin.Process_Cell_Phone_Pings_Button" /><Button refID="MakeMaps_addin.Combine_Raster_Files_Button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        <Menu caption="MapSAR" category="MapSAR Add-in" id="MakeMaps_addin.menu" isRootMenu="true" isShortcutMenu="true" separator="true"><Items><Button refID="MakeMaps_addin.menu_Make_Map" /><Button refID="MakeMaps_addin.menu_Make_Assignment_Maps" /><Button refID="MakeMaps_addin.menu_Make_Task_Forms" /><Button refID="MakeMaps_addin.menu_Populate_Base_Data" /><Button refID="MakeMaps_addin.menu_Update_Value_Lists" /><Button refID="MakeMaps_addin.menu_Exporter" /><Button refID="MakeMaps_addin.menu_Importer" /><Button refID="MakeMaps_addin.menu_Assignment_Auto_Text" /><Button refID="MakeMaps_addin.button_Period_auto_calc_menu" /></Items></Menu>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>